a {
    color: var(--foreground);
}

a.button {
    color: var(--redish);
}

a.entry {
    text-decoration: none;
}
.prefix_line {
    background-color: var(--bluish);
    color: yellow;
}
.prefix {
    font-weight: bold;
}

.invalid_char {
    color: var(--redish);
}

.selected {
    background-color: var(--pinkish);
}
.selected a.entry {
    color: var(--yellowish);
    font-weight: bold;
}
.key {
    width: 150px;
}

.common_prefix {
    font-style: italic;
}
